@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply m-0 antialiased;
    font-family: "Source Serif 4", "Iowan Old Style", "Palatino Linotype",
      "URW Palladio L", P052, serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
  }
}