---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LDAZRZ" showProjectsLink={true}>
	<h1 >Quite Good Developer</h1>
	<p>
		I can code, program, develop things. <br class="block sm:hidden" />
		And I do it quite good.
	</p>
</Layout>
